<header class="ui-header">
    <nav class="ui-nav">
        <ul>
            <li><a href="/">Patient Info</a></li>
            <li ui-sref-active="active"><a ui-sref="app.clinicalInfo.patients.details.diagnoses({patientId: 1})">Clinical Info</a></li>
            <!--<li><a href="#">Messages</a></li>
            <li><a href="#">Insurance</a></li>
            <li><a href="#">Compliance</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Service Plan</a></li>
            <li><a href="#">Documents</a></li>
            <li><a href="#">Integration</a></li>
            <li><a href="#">Equipment</a></li>
            <li><a href="#">Orders</a></li>-->
        </ul>
    </nav>
</header>
<ui-view  class="page-container"></ui-view>